<!DOCTYPE html>
<html>
    <head>
        <title>CSE passwords</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css' integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi' crossorigin='anonymous' />

        <style>
            body {
                max-width: 60%;
                margin: auto;
            }

            header {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>CSE passwords</h1>

            {% block header %}
            {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
