<!DOCTYPE html>
<html>
    <head>
        <title>CSE passwords</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />

        <style>
            body {
                max-width: 60%;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>CSE passwords</h1>

            {% block header %}
            {% endblock %}
        </header>
        {% block content %}
        {% endblock %}
    </body>
</html>
