{% extends "base.html" %}
{% block content %}
    <h2>Here are all the passwords we currently have</h2>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>URL</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                <tr>
                    <td>
                        <a href='{{ url.url }}'>{{ url.url }}</a>
                    </td>
                    <td>
                        {{ url.user|safe }}
                    </td>
                    <td>
                        {{ url.pass|safe }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href='/submit'>Submit one!</a>
{% endblock %}
