{% extends "base.html" %}
{% block content %}
    <h2>Here are all the passwords we currently have</h2>
    <ul class='urls'>
        {% for url in urls %}
            <li>
                <div>
                    URL: <a href='{{ url.url }}'>{{ url.url }}</a>
                </div>
                <div>
                    Username: {{ url.user|safe }}
                </div>
                <div>
                    Password: {{ url.pass|safe }}
                </div>
            </li>
        {% else %}
            <li>No URLs, yet!</li>
        {% endfor %}
    </ul>

    <a href='/submit'>Submit one!</a>
{% endblock %}
